# Import

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import json
from collections import defaultdict

# utility classes (don't touch them)

In [2]:
class MathExpressionEvaluator:
    def __init__(self, entry, responses):
        self.entry = entry
        self.responses = responses
        self.operand_stack = []
        self.operator_stack = []
        
    def expression_value(self, variable):
        if variable == "true":
            return True
        elif variable == "false":
            return False
        elif variable == "apacheIsCompleted":
            return self.entry.apache_is_completed
        elif variable == "hasAntibiotics":
            return self.entry.has_antibiotics
        elif variable == "hasLines":
            return self.entry.has_lines
        elif variable == "hasMedication":
            return self.entry.has_medication
        elif variable == "hasVentilation":
            return self.entry.has_ventilation
        elif variable in self.responses:
            return self.responses[variable] in ('Y', 'C')
        return None
    
    def convert_expression_and_evalute(self, dependence):
        expression = self.convert_expression(dependence)
        tmp = self.evaluate_expression(expression)
        if tmp is None:
            return False
        value, _ = tmp
        return value

    def convert_expression(self, dependence):
        result = ""
        variable = ""
        for c in dependence:
            if c in ('(', ')', '&', '|', '!'):
                if len(variable) > 0:
                    value = self.expression_value(variable)
                    if value is None:
                        result += "N"
                    else:
                        result += "1" if value else "0"
                result += c
                variable = ""
            else:
                variable += c
        if len(variable) > 0:
            value = self.expression_value(variable)
            if value is None:
                result += "N"
            else:
                result += "1" if value else "0"
        return result

    def operate(self):
        operator = self.operator_stack.pop()
        if operator == "!":
            if len(self.operand_stack) == 0:
                return None
            value = self.operand_stack.pop()
            if value is None:
                self.operand_stack.append(None)
            else:
                self.operand_stack.append(not value)
        elif operator == "&":
            if len(self.operand_stack) < 2:
                return None
            value1 = self.operand_stack.pop()
            value2 = self.operand_stack.pop()
            print("AND entre {} y {}".format(value1, value2))
            if value1 is None or value2 is None:
                self.operand_stack.append(None)
            else:
                self.operand_stack.append(value1 and value2)
        elif operator == "|":
            if len(self.operand_stack) < 2:
                return None
            value1 = self.operand_stack.pop()
            value2 = self.operand_stack.pop()
            if value2 is not None or value2:
                self.operand_stack.append(True)
            elif value1 is None and value2 is None:
                self.operand_stack.append(None)
            else:
                self.operand_stack.append(value1 or value2)
        return None
    
    def evaluate_expression(self, expression, index=0):
        while index < len(expression):
            ch = expression[index]
            if ch == "0":
                self.operand_stack.append(False)
            elif ch == "1":
                self.operand_stack.append(True)
            elif ch == "N":
                self.operand_stack.append(None)
            elif ch == "(":
                evaluator = MathExpressionEvaluator(self.entry, self.responses)
                tmp = evaluator.evaluate_expression(expression, index + 1)
                if tmp is None:
                    print("ERROR EN EVALUATE")
                    return None
                value, new_index = tmp
                if new_index == len(expression):
                    print("Error")
                    return None
                if expression[new_index] != ')':
                    print("Not found )")
                    return None
                self.operand_stack.append(value)
                index = new_index + 1
            elif ch == ")":
                break
            elif ch in "!|&":
                if len(self.operator_stack) == 0:
                    self.operator_stack.append(ch)
                else:
                    last_operator = self.operator_stack[-1]
                    while last_operator is not None and "!|&".index(last_operator) < "!|&".index(ch):
                        self.operate()
                        if len(self.operator_stack) == 0:
                            last_operator = None
                        else:
                            last_operator = self.operator_stack[-1]
                    self.operator_stack.append(ch)
            else:
                print("ERROR")
                return None
            index += 1
        while len(self.operator_stack) > 0:
            self.operate()
        return self.operand_stack.pop(), index

In [3]:
class Entry:
    def __init__(self, d):
        self.apache_is_completed = d.get("apache_is_completed", 0) == 1
        self.has_antibiotics = d.get("has_antibiotics", 0) == 1
        self.has_lines = d.get("has_lines", 0) == 1
        self.has_medication = d.get("has_medication", 0) == 1
        self.has_ventilation = d.get("has_ventilation", 0) == 1

In [5]:
def checklists_from_unit(unit_id, conn):
    query = "select id, public_id from backend_v10_checklist where unit_id={} and in_production = 1".format(unit_id)
    result = pd.read_sql(query, conn)
    checklist_ids = result['id']
    public_checklist_ids = result['public_id']
    return zip(checklist_ids, public_checklist_ids)

def calculate_status(workday, checklist_id, unit, conn):
    # Reading the checklist_id that the user is using
    #query = "select checklist_id from backend_v10_userdata where user_detail_id={} and unit_id={}".format(user_id, unit)
    #print('hi', unit, pd.read_sql(query, conn))
    #checklist_ids = pd.read_sql(query, conn)['checklist_id']
    #if len(checklist_ids) == 0:  # No data for this user in this unit
    #    return {}
    #checklist_id = checklist_ids[0]

    # Reading the checklist configuration (questions)
    query = "select text from backend_v10_checklist where id={}".format(checklist_id)
    checklist_text = pd.read_sql(query, conn)['text'][0]
    checklist = json.loads(checklist_text)

    # Reading all the patient responses (all patients)
    query = """select p.hash_fin, pr.response, pr.question_id 
    from backend_v10_patientresponse pr inner join backend_v10_patient p on pr.patient_id = p.id
    where pr.workday="{}" and pr.checklist_id={} and pr.unit_id={}""".format(workday, checklist["id"], unit)
    patient_responses = pd.read_sql(query, conn)

    all_responses = defaultdict(lambda: {})
    for patient_response in patient_responses.itertuples():
        index, hash_fin, response, question_id = patient_response
        if len(response.strip()) > 0:
            all_responses[hash_fin][question_id] = response

    status = {}
    for hash_fin, responses in all_responses.items():
        query = """select * from backend_v10_patientdetailentry where hash_fin="{}" and workday="{}" and unit_id={} """.format(hash_fin, workday, unit)
        entries = pd.read_sql(query, conn)
        if len(entries) == 0:
            status[hash_fin] = 0.0
            continue
        entry = Entry(entries.iloc[0])
        evaluator = MathExpressionEvaluator(entry, responses)

        questions = 0
        answered = 0
        for group in checklist["groups"]:
            group_visible = evaluator.convert_expression_and_evalute(group['dependence'])
            for section in group["sections"]:
                section_visible = group_visible and evaluator.convert_expression_and_evalute(section['dependence'])
                for question in section["questions"]:
                    question_visible = section_visible and evaluator.convert_expression_and_evalute(question['dependence'])
                    if question_visible:
                        questions += 1
                        if question['id'] in responses or question["questionType"] == 'T':
                            answered += 1
        status[hash_fin] = float(answered) / float(questions) if questions > 0 else 0
    return status

# Calculate Status for all the patients that has responses

###  Checklist id
public id:
1 - nsicu/cticu, initial checklist for nsicu
2 - nsicu/cticu, checklist with tracheostomy 
100 - micu Leigh Wild
 4 - micu, no ards

In [8]:
engine=create_engine('mysql://junelee:zkxnafhrmdls!28@khartoum.chem-eng.northwestern.edu/checklist')
engine=create_engine('mysql://analyst:analyst@127.0.0.1:7777/icuchecklist')
conn = engine.connect()

for unit_id, unit_name in [(3, "NSICU"), (4, "CTICU"), (8, "MICU")]:
    checklists = checklists_from_unit(unit_id, conn)
    for checklist_id, public_checklist_id in checklists:
        print("Checklist {} (private Id: {})".format(public_checklist_id, checklist_id))
        status = calculate_status(workday="2017-05-23", checklist_id=checklist_id, unit=unit_id, conn=conn)
        print("**** {} ****".format(unit_name))
        for hash_fin, value in status.items():
            print("  - {}: {}".format(hash_fin, value))

Checklist 1 (private Id: 5)
**** NSICU ****
  - d5e9872ab70ba0d26c455359a7707a5ca48bc065: 1.0
  - e166044fee6ac47d8cd90fe479253bea9a8cb145: 1.0
  - b8408127bc1c712c75ecbddcfc48b0d38a48c735: 1.0
  - 6b349800c34efcf596cb4e73403d3ceaafc08af3: 1.0
Checklist 2 (private Id: 13)
**** NSICU ****
  - d5e9872ab70ba0d26c455359a7707a5ca48bc065: 0.18181818181818182
Checklist 1 (private Id: 10)
**** CTICU ****
  - e029ddf5d860f4458e75535a7adc869067194c92: 1.0
  - f968648cd52d56498905fa08ee716b9dab7f7783: 1.0
  - f3b69dd81ffa2ed50de3166f1f9b99cbb0c6de89: 1.0
  - 0f1ae047cf76b8788e28cb6367fc0287949e4282: 1.0
  - 11d8412b13c35235248153c741fa9c9c82e29707: 1.0
  - fc405fa9679f3edd84d59fc394926db96b9f211e: 1.0
  - 563214de4a183c5d9742ad1d45c4dabdbe4aa9d3: 1.0
  - 39721c51c2175f2b5a9d62b65210ccc6ba21a1f1: 1.0
  - 6710212eadc2b4f3b966b3afd82f50ecca9ff594: 1.0
  - ccdf7aa270cb8760153231328910d1a676f832cf: 1.0
  - 2265516f326cf9ea002bfd4a21dc122a63e0e380: 1.0
  - 7a2306cbdeb6c8d6087279f0df15bbfdb3df0218: 1.0
Checklist 2 (private Id: 14)
**** CTICU ****
Checklist 4 (private Id: 11)
**** MICU ****
Checklist 100 (private Id: 12)
**** MICU ****

In [14]:
patient_response_query = "select * from backend_v10_patientresponse"
df_patient_response = pd.read_sql(query, conn)

patient_query = "select * from backend_v10_patient"
df_pateint = pd.read_sql(query, conn)

### Find cumulative number of patients

In [15]:
df_patient_response

,id,checklist_id,question_id,workday,response,date,patient_id,unit_id,user_detail_id
0,28,1,$0401,2017-05-13,Y,2017-05-13 16:25:03.948003,43,3,8
1,29,1,$0402,2017-05-13,N,2017-05-13 16:25:04.561796,43,3,8
2,30,1,$0501,2017-05-13,Y,2017-05-13 16:25:05.930058,43,3,8
3,31,1,$0801,2017-05-13,Y,2017-05-13 16:25:44.995497,43,3,8
4,32,1,$0601,2017-05-13,Y,2017-05-13 16:25:31.595978,43,3,8
5,33,1,$0701,2017-05-13,N,2017-05-13 16:25:40.051165,43,3,8
6,34,1,$0702,2017-05-13,Y,2017-05-13 16:25:42.309843,43,3,8
7,35,1,$0703,2017-05-13,N,2017-05-13 16:25:43.235425,43,3,8
8,36,1,$0301,2017-05-13,Y,2017-05-13 16:25:47.019240,43,3,8
9,37,1,$0801,2017-05-13,Y,2017-05-13 16:26:09.335738,44,3,8
10,38,1,$0701,2017-05-13,N,2017-05-13 16:26:25.870381,44,3,8
11,39,1,$0702,2017-05-13,Y,2017-05-13 16:26:27.302063,44,3,8
12,40,1,$0703,2017-05-13,A,2017-05-13 16:26:28.800474,44,3,8
13,41,1,$0601,2017-05-13,N,2017-05-13 16:26:32.371246,44,3,8
14,42,1,$0301,2017-05-13,Y,2017-05-13 16:27:21.611713,44,3,8
15,43,1,$0401,2017-05-13,A,2017-05-13 16:27:23.058011,44,3,8
16,44,1,$0402,2017-05-13,Y,2017-05-13 16:27:23.864417,44,3,8
17,45,1,$0501,2017-05-13,N,2017-05-13 16:27:27.267746,44,3,8
18,46,4,$0101,2017-05-13,N,2017-05-13 16:29:28.593981,49,8,8
19,47,4,$0102,2017-05-13,Y,2017-05-13 16:29:32.414512,49,8,8
20,48,4,$0201,2017-05-13,N,2017-05-13 16:29:38.078735,49,8,8
21,49,4,$0202,2017-05-13,Y,2017-05-13 16:29:37.097618,49,8,8
22,50,4,$0203,2017-05-13,A,2017-05-13 16:29:45.206399,49,8,8
23,51,4,$0204,2017-05-13,N,2017-05-13 16:29:48.467250,49,8,8
24,52,1,$0101,2017-05-15,Y,2017-05-15 13:09:54.224097,54,4,69
25,53,1,$0201,2017-05-15,N,2017-05-15 13:10:22.898225,54,4,69
26,54,1,$0203,2017-05-15,N,2017-05-15 13:10:24.263776,54,4,69
27,55,1,$0801,2017-05-15,Y,2017-05-15 15:03:29.340876,46,3,67
28,56,1,$0801,2017-05-15,Y,2017-05-15 13:42:35.473971,55,4,69
29,57,1,$0701,2017-05-15,Y,2017-05-15 13:42:42.653400,55,4,69
...,...,...,...,...,...,...,...,...,...
9298,9340,2,$0402,2017-08-15,Y,2017-08-15 14:27:21.195812,304,4,72
9299,9341,2,$0501,2017-08-15,A,2017-08-15 14:27:24.258128,304,4,72
9300,9342,2,$0601,2017-08-15,N,2017-08-15 14:27:29.152176,304,4,72
9301,9343,2,$0701,2017-08-15,Y,2017-08-15 14:27:32.910891,304,4,72
9302,9344,2,$0703,2017-08-15,Y,2017-08-15 14:27:35.305153,304,4,72
9303,9345,2,$0301,2017-08-15,Y,2017-08-15 14:28:33.485979,269,4,72
9304,9346,2,$0401,2017-08-15,A,2017-08-15 14:28:36.372595,269,4,72
9305,9347,2,$0402,2017-08-15,Y,2017-08-15 14:28:38.862129,269,4,72
9306,9348,2,$0501,2017-08-15,Y,2017-08-15 14:28:42.705085,269,4,72
9307,9349,2,$0801,2017-08-15,Y,2017-08-15 14:28:45.979270,269,4,72
9308,9350,2,$0701,2017-08-15,Y,2017-08-15 14:28:50.574769,269,4,72
9309,9351,2,$0703,2017-08-15,Y,2017-08-15 14:28:51.307060,269,4,72
9310,9352,2,$0601,2017-08-15,N,2017-08-15 14:28:54.199516,269,4,72
9311,9353,2,$0601,2017-08-15,N,2017-08-15 14:29:07.568562,336,4,72
9312,9354,2,$0301,2017-08-15,Y,2017-08-15 14:29:13.027319,336,4,72
9313,9355,2,$0401,2017-08-15,Y,2017-08-15 14:29:14.126442,336,4,72
9314,9356,2,$0402,2017-08-15,Y,2017-08-15 14:29:15.310390,336,4,72
9315,9357,2,$0701,2017-08-15,Y,2017-08-15 14:29:18.901143,336,4,72
9316,9358,2,$0703,2017-08-15,Y,2017-08-15 14:29:19.646062,336,4,72
9317,9359,2,$0801,2017-08-15,Y,2017-08-15 14:29:22.425644,336,4,72
9318,9360,2,$0501,2017-08-15,Y,2017-08-15 14:31:29.373131,336,4,72
9319,9361,2,$0601,2017-08-15,N,2017-08-15 15:16:34.533455,315,4,72
9320,9362,2,$0301,2017-08-15,N,2017-08-15 15:16:48.519567,315,4,72
9321,9363,2,$0401,2017-08-15,N,2017-08-15 15:17:09.288101,315,4,72
9322,9364,2,$0402,2017-08-15,Y,2017-08-15 15:17:14.871128,315,4,72
9323,9365,2,$0501,2017-08-15,A,2017-08-15 15:17:22.108998,315,4,72
9324,9366,2,$0801,2017-08-15,Y,2017-08-15 15:17:26.038924,315,4,72
9325,9367,2,$0701,2017-08-15,Y,2017-08-15 15:17:31.577596,315,4,72
9326,9368,2,$0703,2017-08-15,Y,2017-08-15 15:17:33.208366,315,4,72
9327,9369,2,$0101,2017-08-15,N,2017-08-15 15:17:43.191332,291,4,72

In [12]:
#count number of patients visited every day ('answered', ignore swipes?) in each unit
#count the total number of patients admitted

   id
0   5
1  13