# Import

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import json
from collections import defaultdict

# utility classes (don't touch them)

In [2]:
class MathExpressionEvaluator:
    def __init__(self, entry, responses):
        self.entry = entry
        self.responses = responses
        self.operand_stack = []
        self.operator_stack = []
        
    def expression_value(self, variable):
        if variable == "true":
            return True
        elif variable == "false":
            return False
        elif variable == "apacheIsCompleted":
            return self.entry.apache_is_completed
        elif variable == "hasAntibiotics":
            return self.entry.has_antibiotics
        elif variable == "hasLines":
            return self.entry.has_lines
        elif variable == "hasMedication":
            return self.entry.has_medication
        elif variable == "hasVentilation":
            return self.entry.has_ventilation
        elif variable in self.responses:
            return self.responses[variable] in ('Y', 'C')
        return None
    
    def convert_expression_and_evalute(self, dependence):
        expression = self.convert_expression(dependence)
        tmp = self.evaluate_expression(expression)
        if tmp is None:
            return False
        value, _ = tmp
        return value

    def convert_expression(self, dependence):
        result = ""
        variable = ""
        for c in dependence:
            if c in ('(', ')', '&', '|', '!'):
                if len(variable) > 0:
                    value = self.expression_value(variable)
                    if value is None:
                        result += "N"
                    else:
                        result += "1" if value else "0"
                result += c
                variable = ""
            else:
                variable += c
        if len(variable) > 0:
            value = self.expression_value(variable)
            if value is None:
                result += "N"
            else:
                result += "1" if value else "0"
        return result

    def operate(self):
        operator = self.operator_stack.pop()
        if operator == "!":
            if len(self.operand_stack) == 0:
                return None
            value = self.operand_stack.pop()
            if value is None:
                self.operand_stack.append(None)
            else:
                self.operand_stack.append(not value)
        elif operator == "&":
            if len(self.operand_stack) < 2:
                return None
            value1 = self.operand_stack.pop()
            value2 = self.operand_stack.pop()
            print("AND entre {} y {}".format(value1, value2))
            if value1 is None or value2 is None:
                self.operand_stack.append(None)
            else:
                self.operand_stack.append(value1 and value2)
        elif operator == "|":
            if len(self.operand_stack) < 2:
                return None
            value1 = self.operand_stack.pop()
            value2 = self.operand_stack.pop()
            if value2 is not None or value2:
                self.operand_stack.append(True)
            elif value1 is None and value2 is None:
                self.operand_stack.append(None)
            else:
                self.operand_stack.append(value1 or value2)
        return None
    
    def evaluate_expression(self, expression, index=0):
        while index < len(expression):
            ch = expression[index]
            if ch == "0":
                self.operand_stack.append(False)
            elif ch == "1":
                self.operand_stack.append(True)
            elif ch == "N":
                self.operand_stack.append(None)
            elif ch == "(":
                evaluator = MathExpressionEvaluator(self.entry, self.responses)
                tmp = evaluator.evaluate_expression(expression, index + 1)
                if tmp is None:
                    print("ERROR EN EVALUATE")
                    return None
                value, new_index = tmp
                if new_index == len(expression):
                    print("Error")
                    return None
                if expression[new_index] != ')':
                    print("Not found )")
                    return None
                self.operand_stack.append(value)
                index = new_index + 1
            elif ch == ")":
                break
            elif ch in "!|&":
                if len(self.operator_stack) == 0:
                    self.operator_stack.append(ch)
                else:
                    last_operator = self.operator_stack[-1]
                    while last_operator is not None and "!|&".index(last_operator) < "!|&".index(ch):
                        self.operate()
                        if len(self.operator_stack) == 0:
                            last_operator = None
                        else:
                            last_operator = self.operator_stack[-1]
                    self.operator_stack.append(ch)
            else:
                print("ERROR")
                return None
            index += 1
        while len(self.operator_stack) > 0:
            self.operate()
        return self.operand_stack.pop(), index

In [3]:
class Entry:
    def __init__(self, d):
        self.apache_is_completed = d.get("apache_is_completed", 0) == 1
        self.has_antibiotics = d.get("has_antibiotics", 0) == 1
        self.has_lines = d.get("has_lines", 0) == 1
        self.has_medication = d.get("has_medication", 0) == 1
        self.has_ventilation = d.get("has_ventilation", 0) == 1

In [30]:
def checklist_from_unit(unit_id, conn):
    query = "select id from backend_v10_checklist where unit_id={} and in_production = 1".format(unit_id)
    checklist_ids = pd.read_sql(query, conn)['id']
    return checklist_ids

def calculate_status(workday, user_id, unit, conn):
    # Reading the checklist_id that the user is using
    query = "select checklist_id from backend_v10_userdata where user_detail_id={} and unit_id={}".format(user_id, unit)
    print('hi', unit, pd.read_sql(query, conn))
    checklist_ids = pd.read_sql(query, conn)['checklist_id']
    if len(checklist_ids) == 0:  # No data for this user in this unit
        return {}
    checklist_id = checklist_ids[0]

    # Reading the checklist configuration (questions)
    query = "select text from backend_v10_checklist where id={}".format(checklist_id)
    checklist_text = pd.read_sql(query, conn)['text'][0]
    checklist = json.loads(checklist_text)

    # Reading all the patient responses (all patients)
    query = """select p.hash_fin, pr.response, pr.question_id 
    from backend_v10_patientresponse pr inner join backend_v10_patient p on pr.patient_id = p.id
    where pr.workday="{}" and pr.checklist_id={} and pr.unit_id={}""".format(workday, checklist["id"], unit)
    patient_responses = pd.read_sql(query, conn)

    all_responses = defaultdict(lambda: {})
    for patient_response in patient_responses.itertuples():
        index, hash_fin, response, question_id = patient_response
        if len(response.strip()) > 0:
            all_responses[hash_fin][question_id] = response

    status = {}
    for hash_fin, responses in all_responses.items():
        query = """select * from backend_v10_patientdetailentry where hash_fin="{}" and workday="{}" and unit_id={} """.format(hash_fin, workday, unit)
        entries = pd.read_sql(query, conn)
        if len(entries) == 0:
            status[hash_fin] = 0.0
            continue
        entry = Entry(entries.iloc[0])
        evaluator = MathExpressionEvaluator(entry, responses)

        questions = 0
        answered = 0
        for group in checklist["groups"]:
            group_visible = evaluator.convert_expression_and_evalute(group['dependence'])
            for section in group["sections"]:
                section_visible = group_visible and evaluator.convert_expression_and_evalute(section['dependence'])
                for question in section["questions"]:
                    question_visible = section_visible and evaluator.convert_expression_and_evalute(question['dependence'])
                    if question_visible:
                        questions += 1
                        if question['id'] in responses or question["questionType"] == 'T':
                            answered += 1
        status[hash_fin] = float(answered) / float(questions) if questions > 0 else 0
    return status

# Calculate Status for all the patients that has responses

In [31]:
engine=create_engine('mysql://junelee:zkxnafhrmdls!28@khartoum.chem-eng.northwestern.edu/checklist')
engine=create_engine('mysql://analyst:analyst@127.0.0.1:7777/icuchecklist')
conn = engine.connect()

user_id = 69

def report_for_user(user_id):
    for unit, unit_name in [(3, "NSICU"), (4, "CTICU"), (8, "MICU")]:
        if not user_has_access_to_unit(user_id, unit, conn):
            print("User has no access to {}".format(unit_name))
            continue

        status = calculate_status(workday="2017-05-23", user_id=user_id, unit=unit, conn=conn)
        print("**** {} ****".format(unit_name))
        for hash_fin, value in status.items():
            print("  - {}: {}".format(hash_fin, value))

hi 3    checklist_id
0            13
**** NSICU ****
  - d5e9872ab70ba0d26c455359a7707a5ca48bc065: 0.18181818181818182
hi 4    checklist_id
0            14
**** CTICU ****
 User has no access to MICU

In [18]:
query = """SELECT *
FROM backend_v10_tmetryentry
WHERE date BETWEEN "2017-05-15" AND "2017-05-23"
LIMIT 0, 100"""
df_data = pd.read_sql(query, conn, index_col="id")

In [19]:
df_data

,session_id,date,object,action,strValue,unit_id,user_detail_id,intValue
id,,,,,,,,
29918,2139699710,2017-05-15 13:07:14.407210,1,201,nm177724,3,67,NaN
29919,2139699710,2017-05-15 13:07:14.536299,1,203,nm177724,3,67,NaN
29920,2139699710,2017-05-15 13:07:14.536680,2,204,nm177724,3,67,NaN
29921,2139699710,2017-05-15 13:07:14.567145,2,301,nm177724,3,67,NaN
29922,2139699710,2017-05-15 13:07:14.567565,3,302,nm177724,3,67,NaN
29923,2139699710,2017-05-15 13:07:14.591002,3,303,nm177724,3,67,NaN
29924,2139699710,2017-05-15 13:07:14.591587,1,204,nm177724,3,67,NaN
29925,2139699710,2017-05-15 13:07:14.657639,1,205,nm177724,3,67,NaN
29926,2139699710,2017-05-15 13:07:15.390507,0,101,None,3,67,NaN
29927,2139699710,2017-05-15 13:07:18.704689,4,401,None,3,67,3.0
29928,4050097364,2017-05-15 13:07:06.340365,1,201,nm177719,4,69,NaN
29929,4050097364,2017-05-15 13:07:07.233227,1,203,nm177719,4,69,NaN
29930,4050097364,2017-05-15 13:07:07.233745,2,204,nm177719,4,69,NaN
29931,4050097364,2017-05-15 13:07:11.283526,2,301,nm177719,4,69,NaN
29932,4050097364,2017-05-15 13:07:11.284063,3,302,nm177719,4,69,NaN
29933,4050097364,2017-05-15 13:07:11.910833,3,303,nm177719,4,69,NaN
29934,4050097364,2017-05-15 13:07:11.911627,1,204,nm177719,4,69,NaN
29935,4050097364,2017-05-15 13:07:11.933503,0,101,None,4,69,NaN
29936,4050097364,2017-05-15 13:07:12.108072,1,205,nm177719,4,69,NaN
29937,4050097364,2017-05-15 13:07:14.111250,4,401,None,4,69,4.0
29938,4050097364,2017-05-15 13:07:16.933663,0,101,None,4,69,NaN
29939,2139699710,2017-05-15 13:07:48.589820,6,502,None,3,67,NaN
29940,4050097364,2017-05-15 13:08:30.375724,6,502,None,4,69,NaN
29941,2139699710,2017-05-15 13:09:37.229240,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3,67,NaN
29942,2139699710,2017-05-15 13:09:39.782911,7,702,08,3,67,NaN
29943,4050097364,2017-05-15 13:09:38.866450,6,602,37e2ca907b6b9c2fb5202767c096a73b6c18c5d9,4,69,NaN
29944,4050097364,2017-05-15 13:09:41.877696,7,702,01,4,69,NaN
29945,2139699710,2017-05-15 13:09:49.978649,7,702,07,3,67,NaN
29946,2139699710,2017-05-15 13:09:50.180830,7,702,03,3,67,NaN
29947,2139699710,2017-05-15 13:09:58.292248,7,704,dvt,3,67,NaN
...,...,...,...,...,...,...,...,...
29988,2139699710,2017-05-15 13:16:12.955344,6,602,098d477fde14ee3ee30c9f363d5ac06f85c3ca51,3,67,NaN
29989,2139699710,2017-05-15 13:16:15.316872,7,702,03,3,67,NaN
29990,2139699710,2017-05-15 13:16:18.263999,6,502,None,3,67,NaN
29991,2139699710,2017-05-15 13:16:28.532811,5,206,nm177724,3,67,NaN
29992,4050097364,2017-05-15 13:16:21.008190,6,602,37e2ca907b6b9c2fb5202767c096a73b6c18c5d9,4,69,NaN
29993,4050097364,2017-05-15 13:16:23.414569,7,702,01,4,69,NaN
29994,4050097364,2017-05-15 13:16:25.498004,7,702,06,4,69,NaN
29995,4050097364,2017-05-15 13:16:25.605684,7,702,03,4,69,NaN
29996,4050097364,2017-05-15 13:16:27.239717,7,702,08,4,69,NaN
29997,4050097364,2017-05-15 13:16:32.889788,7,702,01,4,69,NaN
29998,4050097364,2017-05-15 13:16:34.237891,6,502,None,4,69,NaN
29999,1056858376,2017-05-15 13:07:19.580197,1,201,nm177880,3,8,NaN
30000,1056858376,2017-05-15 13:07:19.591502,1,202,nm177880,3,8,NaN
30001,3954532344,2017-05-15 13:07:37.650372,1,201,nm177880,3,8,NaN
30002,3954532344,2017-05-15 13:07:37.676612,1,202,nm177880,3,8,NaN
30003,2143812114,2017-05-15 13:08:10.339884,1,201,mbechel1,3,8,NaN
30004,2143812114,2017-05-15 13:08:10.453416,1,203,mbechel1,3,8,NaN
30005,2143812114,2017-05-15 13:08:10.453719,2,204,mbechel1,3,8,NaN
30006,2143812114,2017-05-15 13:08:10.483760,2,301,mbechel1,3,8,NaN
30007,2143812114,2017-05-15 13:08:10.484418,3,302,mbechel1,3,8,NaN
30008,2143812114,2017-05-15 13:08:10.525654,3,0,mbechel1,3,8,NaN
30009,2143812114,2017-05-15 13:08:14.422931,0,101,None,3,8,NaN
30010,2486949932,2017-05-15 13:16:30.959509,1,201,mbechel1,3,8,NaN
30011,2486949932,2017-05-15 13:16:31.339822,1,203,mbechel1,3,8,NaN
30012,2486949932,2017-05-15 13:16:31.340332,2,204,mbechel1,3,8,NaN
30013,2486949932,2017-05-15 13:16:31.371545,2,301,mbechel1,3,8,NaN
30014,2486949932,2017-05-15 13:16:31.371999,3,302,mbechel1,3,8,NaN
30015,2486949932,2017-05-15 13:16:31.406978,3,303,mbechel1,3,8,NaN
30016,2486949932,2017-05-15 13:16:31.407894,1,204,mbechel1,3,8,NaN
30017,2486949932,2017-05-15 13:16:31.485595,1,205,mbechel1,3,8,NaN